name: Bob the Rebuilder
id: Bob
key: Bob
version: 0.9rc2
schema_version: 0.1
description: Rebuild selected pages automatically
object_types:
	bob_job: Bob::Job
task_workers:
    bob_rebuilder:
        label: Rebuild designated page or pages
        class: Bob::Worker::Rebuilder
applications:
	cms:
		methods:
			rebuilder_list: $Bob::Bob::CMS::list_jobs
			rebuilder_edit: $Bob::Bob::CMS::edit_job
			rebuilder_save: $Bob::Bob::CMS::save_job
		menus:
			manage:bob_system_config:
				label: Rebuilder
				order: 3999
				mode: rebuilder_list
				view: system
				system_permission: administer
callbacks:
    cms_pre_save.bob_job: $Bob::Bob::CMS::cms_job_presave_callback
    cms_post_save.bob_job: $Bob::Bob::CMS::cms_job_postsave_callback
    Bob::Job::pre_remove: $Bob::Bob::Util::job_preremove
